:root {
    --header--title: #212121;
    --hover--color: #2196F3;
    --hover--hero--color: hsl(207, 89%, 43%);
    --hero--text--color: #ffffff;
    --hero--background: #2F303A;
    --link--color: #757575;
    --main--title: #212121;
    --team--background: #F5F4FA;
    --member--background: #ffffff;
    --footer-background: #2F303A;
    --footer--mail--tel: rgba(255, 255, 255, 0.6);
    --hero--portfolio--text: #757575;
    --hero--portfolio--btn: #212121;
    --hero--portfolio--btn--back: #F5F4FA;
    --text--color: #757575;
    --logo--color: #2196F3;
    --logo--second--p--header: #212121;
    --logo--second--p--footer: #ffffff;
    --map--color: #ffffff;
}
body {
    font-family: "Roboto", "sans-serif";
    color: #212121;
}